In [1]:
%load_ext bigdata

In [2]:
%hive_start

In [3]:
%timeout 300

In [4]:
## Borra la carpeta si existe
!hdfs dfs -rm -r -f /tmp/output

##
## Crea la carpeta drivers en el HDFS
##
!hdfs dfs -mkdir /tmp/output

##
## Copia los archivos al HDFS
##
!hdfs dfs -copyFromLocal data.tsv  /tmp/output/data.tsv

##
## Lista los archivos al HDFS para verificar
## que los archivos fueron copiados correctamente.
##
!hdfs dfs -ls /tmp/output/*

-rw-r--r--   1 root supergroup        637 2020-01-17 02:43 /tmp/output/data.tsv

In [5]:
%%hive
DROP TABLE IF EXISTS data;

CREATE TABLE data (letra       STRING,
                           fecha        STRING,
                           numero      INT)

ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS data;
OK
Time taken: 14.625 seconds
CREATE TABLE data (letra       STRING,
                           fecha        STRING,
                           numero      INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.424 seconds

In [6]:
%%hive
SHOW TABLES;
SHOW CREATE TABLE data;

SHOW TABLES;
OK
data
Time taken: 0.159 seconds, Fetched: 1 row(s)
SHOW CREATE TABLE data;
OK
CREATE TABLE `data`(
  `letra` string,
  `fecha` string,
  `numero` int)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'field.delim'='\t',
  'serialization.format'='\t')
STORED AS INPUTFORMAT
  'org.apache.hadoop.mapred.TextInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  'hdfs://0.0.0.0:9000/user/hive/warehouse/data'
TBLPROPERTIES (
  'transient_lastDdlTime'='1579229009')
Time taken: 0.374 seconds, Fetched: 17 row(s)

In [7]:
%%hive
LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE data;

LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE data;
Loading data to table default.data
OK
Time taken: 1.959 seconds

In [8]:
%%hive
DESCRIBE data;

DESCRIBE data;
OK
letra               	string
fecha               	string
numero              	int
Time taken: 0.07 seconds, Fetched: 3 row(s)

In [9]:
%%hive
SELECT * FROM data LIMIT 5;

SELECT * FROM data LIMIT 5;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
Time taken: 2.292 seconds, Fetched: 5 row(s)

In [14]:
%%hive
SELECT numero FROM (select distinct numero from data order by numero) w LIMIT 5;

MIT 5; numero FROM (select distinct numero from data order by numero) w LI
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200117025242_1af106f4-e5c2-4643-b14f-ef402e0f23ec
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579228723378_0002, Tracking URL = http://a2808cd3ee74:8088/proxy/application_1579228723378_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579228723378_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-17 02:52:53,769 Stage-1 map = 0%,  reduce = 0%
2020-01-17 02:53:00,784 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.02 sec
2020-01-17 02:53:08,694 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.24 sec
MapReduce Total cumulative CPU time: 5 seconds 240 msec
Ended Job = job_1579228723378_0002
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579228723378_0003, Tracking URL = http://a2808cd3ee74:8088/proxy/application_1579228723378_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579228723378_0003
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-01-17 02:53:24,395 Stage-2 map = 0%,  reduce = 0%
2020-01-17 02:53:31,156 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.59 sec
2020-01-17 02:53:38,947 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 5.94 sec
MapReduce Total cumulative CPU time: 5 seconds 940 msec
Ended Job = job_1579228723378_0003
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.24 sec   HDFS Read: 7298 HDFS Write: 186 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 5.94 sec   HDFS Read: 5162 HDFS Write: 159 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 180 msec
OK
5
6
7
10
11
Time taken: 57.618 seconds, Fetched: 5 row(s)

In [11]:
%hive_quit